<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form action="/signup" method="POST">
    {{#if message}}
    <h4 class="uk-text-danger uk-text-center uk-margin-medium-bottom">{{message}}</h4>
    {{else}}
    <h3>Signup Here</h3>
    {{/if}}
    <label for="username">Username</label>
    <input type="text" placeholder="only alphanumeric chars | Max: 20" id="username" name="username" {{#if message}}value={{username}}{{/if}}>

    <label for="email">Email</label>
    <input ="email" placeholder="exmpale@exaple.end" id="email" name="email" {{#if message}}value={{email}}{{/if}}>

    <label for="password">Password</label>
    <input type="password" placeholder="minimum length of 8 chars" id="password" name="password" {{#if message}}value={{password}}{{/if}}>
    alrady have a user? <a href="/login">login</a>
    <i class="far fa-eye" id="togglePassword" style="margin-left: 119px; cursor: pointer;"></i>

    <input type="hidden" name="_csrf" value={{csrfToken}}>
    <button class="" type="submit">Signup</button>
</form>
<script src="/js/eye.js"></script>
